@import 'variables/colors';
@import 'common';

.rcw-messages-container {
  background-color: $white;
  height: 50vh;
  max-height: 410px;
  overflow-y: scroll;
  padding-top: 10px;
  -webkit-overflow-scrolling: touch;
}

.rcw-full-screen {

  .rcw-messages-container {
    @include messages-container-fs;
  }
}

.message-author-right {
  text-align: right;
}

.message-author-text-right {
  position: relative;
  right: 20px;
  top: 8px;
  font-size: 10px;
}

.message-author-left {
  text-align: left;
}

.message-author-text-left {
  position: relative;
  right: -20px;
  top: 8px;
  font-size: 10px;
}

@media screen and (max-width: 800px)  {
  .rcw-messages-container {
    @include messages-container-fs;
  }
}


